# config.yaml 数据未脱敏
server:
  port: 50051

redis:
  host: "grpc-dev-redis.bbqzfi.ng.0001.apse1.cache.amazonaws.com"
  port: 6379

postgresql:
  host: "grpc-dev-database.cvosiiw6iypg.ap-southeast-1.rds.amazonaws.com"
  port: 5432
  user: "lxy"
  password: "12345678"
  dbname: "ecommerce_db"
  pool_size: 4

jwt:
  secret_key: "photon-commerce-secret-key-2025"
  issuer: "photon-commerce"
  expiration_seconds: 86400